@import "_variables"

header
  width: 100%
  height: 90px
  background-color: $primary
  display: flex
  position: sticky
  top: 0
  left: 0
  flex-direction: row
  align-items: center
  justify-content: flex-start
  z-index: 1040
  filter: drop-shadow(0px 9px 9px rgba(0, 0, 0, 0.25))
  .wrapper-1
    width: 40%
    height: 100%
    display: flex
    justify-content: flex-start
    .logo
      width: 70%
      height: 100%

      display: flex
      position: relative
      justify-content: flex-start
      align-items: center
      margin-left: 10px
      &__title
        margin-left: 5px
        align-items: center
        a
          font-style: normal
          font-weight: 500
          font-size: $font-size-large
          color: whitesmoke
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

      &__hidden
        margin-left: 10px
        transform: translateY(-60px)

        a
          font-style: normal
          font-weight: 500
          font-size: $font-size-large
          color: $primary
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

      &__hidden--transform
        transition: all 1s ease
        transform: translateY(0px)

      &__hidden--color
        transition: all 1s ease
        color: white !important




  .wrapper-2
    width: 60%
    height: 100%
    display: flex
    justify-content: flex-end
    .links
      max-width: 100%

      list-style: none
      height: 100%
      position: relative

      display: flex
      margin-right: 10px
      padding-left: 0
      justify-content: center
      align-items: center
      .links-item
        padding-right: 75px
        display: flex
        position: relative
        height: 100%
        align-items: center
        text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.35)
        color: white
        a
          font-size: $font-size-medium
          font-style: normal
          font-weight: normal
      .links-item-cursor
        cursor: pointer

        .dropdown
          position: absolute
          display: none
          top: 100%
          right: 1px
          width: 400px
          height: auto
          overflow-y: auto
          background-color: $primary
          padding: 10px 0 5px 0
          border: 1px solid black
          border-top: none
          border-bottom-left-radius: 10px
          border-bottom-right-radius: 10px
          text-align: left
          flex-direction: column
          .dropdown-item
            display: flex
            align-items: center
            width: 100%
            padding-left: 10px
            padding-top: 15px
            padding-right: 10px
            &:first-child
              padding-top: 0
            .Twitter
              margin-left: auto
              font-size: $font-size-small
              width: 25%
              display: flex
              align-items: center
              justify-content: flex-end

          .flex-right
            align-self: flex-end

        &:hover
          .dropdown
            display: flex
